{% extends "base.html" %}
{% block title %}MATHHACKS HOME{% endblock title %}

{% block content %}

<body>
    <div id = "page">
<h1>Welcome to MathHack!</h1>

<p>
  Arithmetic is easy! You probably use a calculator. Do you always believe what it says?
  
  Sometimes you'll enter a wrong number and the results will be way off. You should have an idea of the answer's range before you look at the calculator's answers.

Let's practice estimating! We'll give you some problem sets. Give us your best guesses. We'll give you feedback to help you improve your skills.

Create a username to save your scores between visits.
<form name="input" action="html_form_action.asp" method="post">
Name: <input type="text" name="Name" value=""><br>

<p class="text-center">

<input type="submit" value="Submit">
</form> 
</p>
<p class="text-center">
  <button class="btn btn-large btn-primary" type="button">Click to Start Game</button>
</p>

</div>
  
{% endblock content %}
